@font-face {
  font-family: "HelveticaNeueCyr-Light";
  src: url("../fonts/HelveticaNeueCyr/Light/HelveticaNeueCyr-Light.ttf");
  src: url("../fonts/HelveticaNeueCyr/Light/HelveticaNeueCyr-Light.woff");
  src: url("../fonts/HelveticaNeueCyr/Light/HelveticaNeueCyr-Light.woff2");
}

@font-face {
  font-family: "HelveticaNeueCyr-Medium";
  src: url("../fonts/HelveticaNeueCyr/Medium/HelveticaNeueCyr-Medium.ttf");
  src: url("../fonts/HelveticaNeueCyr/Medium/HelveticaNeueCyr-Medium.woff");
  src: url("../fonts/HelveticaNeueCyr/Medium/HelveticaNeueCyr-Medium.woff2");
}

@font-face {
  font-family: "HelveticaNeueCyr-Roman";
  src: url("../fonts/HelveticaNeueCyr/Roman/HelveticaNeueCyr-Roman.ttf");
  src: url("../fonts/HelveticaNeueCyr/Roman/HelveticaNeueCyr-Roman.woff");
  src: url("../fonts/HelveticaNeueCyr/Roman/HelveticaNeueCyr-Roman.woff2");
}

