
// -------MAiN-------------------

.main-wrapper{
  background-color: #fff;
}

.works{
  padding: 100px 0;
  position: relative;
}

.works__absolute-text{
  position: absolute;
  display: block;
  color: rgba(56, 52, 74, 0.1);
  transform: rotate(90deg);
  width: 940px;
  word-spacing: 8px;
  font-weight: 700;
  line-height: 70px;
  top: 50%;
  left: -35%;
  @include font($main, 70px, 700, 70px);
}


.works__title,
.contacts__title{
  @include font($main, 30px, 500, 40px);
  text-transform: uppercase;
  margin-bottom: 50px;

  &::after{
    content: "";
    display: block;
    width: 20%;
    height: 3px;
    background-color: rgb(7, 2, 2);
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
  }
}

.works__list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.works__list-item{
  position: relative;
  flex-basis: 80%;
  height: 200px;
  border-radius: 10px;
  z-index: 1;
    
  &:not(:last-child){
    margin-bottom: 50px;
  }
}

.circle::before{
  position: absolute;
  display: block;
  content: '';
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(0, 157, 217, 0.1);
  top: -50%;
  left: -50%;
  z-index: -1;
}

.works__list-link{
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 2px solid rgba(200, 200, 200,0.8);    
}

.bg1, .bg2, .bg3, .bg4, .bg5, .bg6{        
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  background-color: rgba(200, 200, 200, 1);
  transition: background-color 0.8s linear; 
}

.bg1{    
  background-image: url(../img/1-min.jpg);       
}

.bg2{
  background-image: url(../img/6.jpg);
}

.bg3{
  background-image: url(../img/3-min.jpg);
}

.bg4{
  background-image: url(../img/4-min.jpg);
}

.bg5{
  background-image: url(../img/5-min.jpg);
}

.bg6{  
  background-image: url(../img/2-min.jpg);
}

.bg1:hover, .bg3:hover, .bg4:hover, .bg5:hover{    
  background-color: rgba(200, 200, 200, 0); 
}

.repair-text{
  position: relative;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  margin-bottom: auto;
  margin-top: auto;
  background-color: rgba(200,0,0,0.6);
  transition: opacity 0.8s linear;
  @include font($main, 40px, 700, 30px);
  text-transform: uppercase;
  padding-top: 60px; 

  &::after{
    position: absolute;
    content: url(../img/repair-icon.svg);
    width: 50px;
    height: 50px;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.repair-text:hover {
  opacity: 1;
}

// -----MEDIA------------------------

@media (min-width:640px){
  .works{
    padding: 70px 0;
  }

  .works__absolute-text{
    top: 53%;
    left: 28%
  }
  

  .works__title,
  .contacts__title{
    @include font($main, 40px, 500, 50px);
    margin-bottom: 40px;

    &::after{    
      margin-top: 20px;
    }
  }

  .works__list-item{
    flex-basis: 47%;
    height: 250px;
      
    &:not(:last-child){
      margin-bottom: 50px;
    }
  }

  .circle::before{
    width: 150px;
    height: 150px;
    top: -25%;
    left: -25%;
  }

  .repair-text{
    @include font($main, 50px, 700, 60px);
  
    &::after{
      width: 70px;
      height: 70px;
      top: 60%;
      left: 50%;
    }
  }
}
  
@media (min-width:1200px){
  .works{
    padding: 100px 0;
  }
  
  .works__title,
  .contacts__title{
    margin-bottom: 50px;

    &::after{    
      margin-top: 25px;
    }
  }

  .works__list-item{
    flex-basis: 31%;
    height: 320px;
      
    &:nth-of-type(-n+3){
      margin-bottom: 50px;
    }
  }

  .circle::before{
    top: -20%;
    left: -20%;
  }

  .repair-text{
    @include font($main, 40px, 700, 50px);
    padding-top: 60px; 
  
    &::after{
      width: 80px;
      height: 80px;
    }
  }

  .works__absolute-text{
    top: 62%;
    left: 62%;
    font-size: 56px;
  }
}